.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 16px;
}

.arrow {
  width: 32px;
  height: 32px;
  border: 1px #000;
  background-color: #fff;
  border-radius: 5px;
}

.arrow:hover {
  background-color: #344fff;
  color: #fff;
  transition: 0.3s;
}
