.title {
    font-size: 32px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1092;
    margin: 0 auto;
    gap: 24px;
}

.navi {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}