.container {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #E8D0A4;
    border-radius: 100%;
}