.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 0 16px;
}

.arrow {
  /* padding: 8px; */
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow:hover {
  background-color: #344fff;
  color: #fff;
  fill: #fff;
  stroke: #fff;
  transition: 0.3s;
}
